<section class="login">
    <div class="container">
      <div class="row">
        <h1>login</h1>
        <div class="links">
            <a href="#" data-toggle="modal" data-target="#login-modal" title="">Sample Modal</a>
        </div>
      </div>
    </div>
</section>

<!-- Modal -->
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>Zamknij</span><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse explicabo facere quis, possimus nisi modi, maxime ullam a eligendi rem, architecto voluptates asperiores assumenda qui minima earum dolorum ipsum, soluta suscipit! Ad modi aliquam ex blanditiis magnam atque, dolores illum, enim officiis et, totam unde quam maiores! Repudiandae, possimus saepe excepturi accusamus quibusdam dolore adipisci. Quaerat modi doloribus, rerum pariatur ut porro aperiam reprehenderit ad, in id repellat vel nesciunt nobis suscipit vitae sapiente eos officia, cum repellendus. Explicabo, unde, ipsam. Adipisci, iusto, dolores nesciunt quisquam ea aliquid ratione ad repellat cum fuga ipsum dolorem aperiam distinctio? Quo, non, ipsa.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->