body {
    font-family: Roboto;
    @include rwdStyleOld(font-size, $font-small-size, $font-basic-size, $font-basic-size);
    font-size: $font-basic-size;
}

$fa-version: "4.7.0" !default;

@font-face {
  font-family: 'FontAwesome';
  src: url('/public/fonts/font_awesome/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('/public/fonts/font_awesome/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
  url('/public/fonts/font_awesome/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
  url('/public/fonts/font_awesome/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
  url('/public/fonts/font_awesome/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
  url('/public/fonts/font_awesome/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  //  src: url('/public/fonts/font_awesome/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
    src: url("/public/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("/public/fonts/roboto/Roboto-Regular.woff") format("woff"), 
    url("/public/fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoLight";
    src: url("/public/fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("/public/fonts/roboto/Roboto-Light.woff") format("woff"), 
    url("/public/fonts/roboto/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoMedium";
    src: url("/public/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("/public/fonts/roboto/Roboto-Medium.woff") format("woff"), 
    url("/public/fonts/roboto/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoBold";
    src: url("/public/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("/public/fonts/roboto/Roboto-Bold.woff") format("woff"), 
    url("/public/fonts/roboto/Roboto-Bold.ttf") format("ttf");
}