// Breakpoints

$break-small: 767px;
$break-medium: 991px;
$break-large: 1079px;


@mixin makeResponsiveOld($attribute, $mobile, $tablet, $desktop) {
    @media screen and (max-width: $break-small) {
        #{$attribute}: $mobile;
    }

    @media screen and (min-width: $break-small  + 1) and (max-width: $break-medium) {
        #{$attribute}: $tablet;
    }

    @media screen and (min-width: $break-medium  + 1) {
        #{$attribute}: $desktop;
    }
}

@mixin rwdStyleOld($attribute, $mobile, $tablet, $desktop) {
    @include makeResponsiveOld($attribute, $mobile, $tablet, $desktop);
}

@mixin makeResponsive($attribute, $media-xs, $media-sm, $media-md, $media-lg) {
    @media screen and (max-width: $break-small) {
        #{$attribute}: $media-xs;
    }

    @media screen and (min-width: $break-small+1) and (max-width: $break-medium) {
        #{$attribute}: $media-sm;
    }

    @media screen and (min-width: $break-medium+1) and (max-width: $break-large) {
        #{$attribute}: $media-md;
    }

    @media screen and (min-width: $break-large+1) {
        #{$attribute}: $media-lg;
    }
}

@mixin rwdStyle($attribute, $media-xs, $media-sm, $media-md, $media-lg) {
    @include makeResponsive($attribute, $media-xs, $media-sm, $media-md, $media-lg);
}

@mixin onlyTo($attribute, $media, $value, $rest) {
  @if $media == media-xs {
    #{$attribute}: $rest;
    @include respond-to($media) { #{$attribute}: $value;}
  }
  @else if $media == media-sm {
    #{$attribute}: $rest;
    @include respond-to($media) { #{$attribute}: $value;}
  }
  @else if $media == media-md {
    #{$attribute}: $rest;
    @include respond-to($media) { #{$attribute}: $value;}
  }
  @else if $media == media-lg {
    #{$attribute}: $rest;
    @include respond-to($media) { #{$attribute}: $value;}
  }
}

@mixin respond-to($media) {
  @if $media == media-xs {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == media-sm {
    @media only screen and (min-width: $break-small+1) and (max-width: $break-medium) { @content; }
  }
  @else if $media == media-md {
    @media only screen and (min-width: $break-medium+1) and (max-width: $break-large) { @content; }
  }
  @else if $media == media-lg {
    @media only screen and (min-width: $break-large+1) { @content; }
  }
}