// Breakpoints

$break-small: 768px;
$break-medium: 992px;
$break-large: 1080px;

$desktop-width: 1080px;

@mixin makeResponsive($attribute, $mobile, $tablet, $desktop) {
    @media screen and (max-width: $break-small) {
        #{$attribute}: $mobile;
    }

    @media screen and (min-width: $break-small  + 1) and (max-width: $break-medium) {
        #{$attribute}: $tablet;
    }

    @media screen and (min-width: $break-medium  + 1) {
        #{$attribute}: $desktop;
    }
}

@mixin rwdStyle($attribute, $mobile, $tablet, $desktop) {
    @include makeResponsive($attribute, $mobile, $tablet, $desktop);
}

@mixin respond-to($media) {
  @if $media == media-xs {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == media-sm {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }
  @else if $media == media-md {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
  }
  @else if $media == media-lg {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}

// Responsive font-sizes

@mixin responsiveFontSize($type) {
    @if $type == Vbig {
            @include rwdStyle(font-size, $font-vbig-size, $font-vbig-size, $font-vbig-desktop-size);
    }

    @if $type == Big {
            @include rwdStyle(font-size, $font-big-size, $font-big-size, $font-big-desktop-size);
    }
    
    @if $type == Medium {
            @include rwdStyle(font-size, $font-medium-size, $font-medium-size, $font-medium-desktop-size);
    }

    @if $type == Basic {
            @include rwdStyle(font-size, $font-medium-size, $font-medium-size, $font-medium-desktop-size);
    }
}