// font:

$font-small-size: 14px;
$font-basic-size: 16px;
$font-medium-size: 18px;
$font-big-size: 21px;
$font-vbig-size: 24px;

$font-small-MobSize: 14px;
$font-basic-MobSize: 16px;
$font-medium-MobSize: 18px;
$font-big-MobSize: 21px;
$font-vbig-MobSize: 24px;

$font-size-headline01: 34px;
$font-MobSize-headline01: 22px;

// lines

$line-grey01: #e5e5e5;

// brand specyfic

$main-color: #c00;

// other

$color-grey01: #d7d7d7;

// for ilustrations