$f-variation01: white;
$f-variation02: #000000;

$font-tiny-size: 10px;
$font-vsmall-size: 12px;
$font-small-size: 14px;
$font-basic-size: 16px;
$font-medium-size: 18px;
$font-big-size: 21px;
$font-vbig-size: 24px;

$font-small-MobSize: 14px;
$font-basic-MobSize: 16px;
$font-medium-MobSize: 18px;
$font-big-MobSize: 21px;
$font-vbig-MobSize: 24px;

$font-size-headline01: 34px;
$font-MobSize-headline01: 22px;